DB_HOST=xxx.xxx.xxx.xxx
DB_NAME=xxx
DB_USER=xxx
DB_PASS=xxx
JWT_SECRET=change-me
JWT_ISS=LpWF
JWT_EXP_SECONDS=3600
HUB_API_BASE=https://hub.example.com/api/v1
HUB_API_KEY=your_hub_api_key
TENANT_ID=
HUB_DB_HOST=xxx
HUB_DB_NAME=hub_catalogo
HUB_DB_USER=xxx
HUB_DB_PASS=xxx
HUB_SHARED_SECRET=change-me
HUB_API_VERIFY_SSL=1
